---

---

<div class="bg-white shadow rounded-lg p-4 mb-8">
  <div class="flex justify-between items-center">
    <a href="/" class="text-blue-600 hover:text-blue-800">
      <span class="text-xl font-semibold">ホーム</span>
    </a>
    <nav>
      <ul class="flex space-x-4">
        <li>
          <a href="/" class="text-gray-600 hover:text-blue-600">マップ</a>
        </li>
        <li>
          <a href="/about" class="text-gray-600 hover:text-blue-600">概要</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
